

* {

font-family: 'Montserrat', sans-serif;


}

body {

background-color:#E6E6E6;


}

a {

color:black;


}

a:hover {

text-decoration:none;


}


#header {

background:  linear-gradient(to bottom, #FE9A2E 0, #DF7401 100%);
background: -webkit-linear-gradient(to bottom, #FE9A2E 0, #DF7401 100%);
background: -moz-linear-gradient(to bottom, #FE9A2E 0, #DF7401 100%);
background: -ms-linear-gradient(to bottom, #FE9A2E 0, #DF7401 100%);
background: -o-linear-gradient(to bottom, #FE9A2E 0, #DF7401 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FE9A2E), color-stop(100%,#DF7401)); /* Safari 4+, Chrome 2+ */  




padding:15px;


}

#rightregpanel {

text-align: right;




}

#rightsalirpanel {

text-align: right;


}

#rightprinpanel {

text-align: right;


}

#righthomepanel {

text-align: right;


}



.botones {

margin-right: 30px;
margin-top: 20px;


}


#titulo {

padding:10px;
margin-top: 0px;


}

#logform {

padding: 25px;


}

#regform {

padding: 25px;


}

.anuncios {



padding-right: 0px;
padding-left: 0px;

background: -ms-linear-gradient(to bottom, #D8D8D8 0, #848484 100%);
background: -moz-linear-gradient(to bottom, #D8D8D8 0, #848484 100%);
background: -o-linear-gradient(to bottom, #D8D8D8 0, #848484 100%);
background: -webkit-linear-gradient(to bottom, #D8D8D8 0, #848484 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D8D8D8), color-stop(100%,#848484)); /* Safari 4+, Chrome 2+ */  

background: linear-gradient(to bottom, #D8D8D8 0, #848484 100%);


margin:20px 0px;
word-break:break-all;





}



#adsendbutton {

text-align: center;


}

#anunciosformrow {

margin-top: 30px;


}

#texto {

width: 100%;

}

#titulo {

width: 100%;

}

#footer {

color:white;
background-color: black;
padding:25px;
margin-top: 400px;
text-align: center;

}

#footer a {

color:blue;


}


#confirmacionad {

padding:40px;
text-align: justify;




}

#registrocfrm {

padding:25px;
text-align: justify;



}

.welmsg {

background: -ms-linear-gradient(to bottom, #ff5b00 0, #db4b03 100%);
background: -moz-linear-gradient(to bottom, #ff5b00 0, #db4b03 100%);
background: -o-linear-gradient(to bottom, #ff5b00 0, #db4b03 100%);
background: -webkit-linear-gradient(to bottom, #ff5b00 0, #db4b03 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff5b00), color-stop(100%,#db4b03)); /* Safari 4+, Chrome 2+ */  

background: linear-gradient(to bottom, #ff5b00 0, #db4b03 100%);

color:white;
padding:10px;
text-shadow:#706d6d 1px 1px 1px;
margin-top: -1px;



}

.tituload {


background: -ms-linear-gradient(to bottom, #353e4a 0, #1b1e26 100%);
background: -moz-linear-gradient(to bottom, #353e4a 0, #1b1e26 100%);
background: -o-linear-gradient(to bottom, #353e4a 0, #1b1e26 100%);
background: -webkit-linear-gradient(to bottom, #353e4a 0, #1b1e26 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #353e4a), color-stop(100%, #1b1e26)); /* Safari 4+, Chrome 2+ */  

background: linear-gradient(to bottom, #353e4a 0, #1b1e26 100%);


font-size: 1.3em;
color:white;
text-shadow:#706d6d 1px 1px 1px;
text-align: center;
padding:5px;
margin-top: 0px;


}

.autorad {

background: -ms-linear-gradient(to bottom, #ff5b00 0, #db4b03 100%);
background: -moz-linear-gradient(to bottom, #ff5b00 0, #db4b03 100%);
background: -o-linear-gradient(to bottom, #ff5b00 0, #db4b03 100%);
background: -webkit-linear-gradient(to bottom, #ff5b00 0, #db4b03 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff5b00), color-stop(100%, #db4b03)); /* Safari 4+, Chrome 2+ */  

background: linear-gradient(to bottom, #ff5b00 0, #db4b03 100%);

color:white;
text-align: center;
text-shadow:#706d6d 1px 1px 1px;

padding:5px;
margin-top: 132px;
margin-bottom: 0px;



}

#contenedor {


background-color: #FFFFFF;


}

.adtext {

padding: 0px 15px;
color: black;

}

.adconfirm {

padding:25px;
text-align: center;

}

.imgdelua {

margin-top: 30px;
padding:25px;


}

.aucontainer {

text-align: center;

}



.editubtn{

display: inline-block;


}

#imagenbanner {

width:64px;
height: 64px;

}

.validacionu {

display: inline-block;

}

.validacionuok {

display: inline-block;

}

.validacionc {

display: inline-block;

}

.validacioncok {

display: inline-block;

}

.validar {

display: inline-block;

}

.validarc {

display: inline-block;

}

#betatag {

color: red;

}








@media (max-width: 700px) {

.anuncios {

margin: -1px 0px;


}





}


